{% extends "base.html" %}

{% block title %}HackTJ Portal: Category Detail{% endblock %}

{% block content %}
  <div class="d-flex align-items-center">
    <h1>{{ category.name }}</h1>
    &emsp;
    <div class="btn-group">
      <a href="{% url 'categories:update' category.id %}" class="btn btn-secondary btn-sm">Edit</a>
      <a href="{% url 'categories:delete' category.id %}" class="btn btn-danger btn-sm">Delete</a>
    </div>
  </div>
  <p>{{ category.description }}</p>
  {% include 'projects/list.html' with projects=category.projects.all %}
  <a href="{% url 'categories:list' %}" class="btn btn-primary">
    <i class="bi bi-arrow-left"></i>
    Back to Category List
  </a>
{% endblock %}
