{% extends "base.html" %}

{% block title %}HackTJ Portal: Leave Project{% endblock %}

{% block content %}
  <h1>Submit Project?</h1>
  <p>
    Are you sure you want to submit the project <strong>{{ project }}</strong>?
    <br>
    You can still edit project details until the deadline, but you may not leave, delete, or kick members from the project.
    <br>
    This action cannot be undone.
  </p>
  <form method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Submit Project">
    <a class="btn btn-secondary" href="{% url 'projects:my_project' %}">Cancel</a>
  </form>
{% endblock %}
