{% extends "base.html" %}

{% block title %}HackTJ Portal: About{% endblock %}

{% block content %}
  <h1>About the HackTJ Portal</h1>
  <p>The HackTJ Portal is a web application that allows particpates of HackTJ to upload their projects, and for judges to evaluate project more effectively. It is built using Django, a high-level Python web framework, and Bootstrap, a popular front-end framework.</p>
  <h2>Features</h2>
  <p>Currently Portal has two main features: project submission and judging. Students can submit their projects to Portal and judges can easily access and evaluate them.</p>
{% endblock %}
