<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'main:index' %}">HackTJ Portal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      <!-- Left navbar -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'main:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'main:about' %}">About</a>
        </li>
        {% if request.user.is_authenticated %}
          {% if request.user.is_admin %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'categories:list' %}">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'locations:list' %}">Locations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'projects:list' %}">Projects</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'projects:my_project' %}">My Project</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
      
      <!-- Right navbar -->
      {% if request.user.is_authenticated %}
        
        <span class="navbar-text">
          {{ request.user.username }}
        </span>
        &emsp;
        
        <!-- Admin panel requires is_admin and is_staff -->
        {% if request.user.is_admin_admin %}
          <a class="btn btn-outline-danger" href="{% url 'admin:index' %}">
            Admin
            &nbsp;
            <i class="bi bi-gear"></i>
          </a>
          &nbsp;
        {% endif %}
        
        <a class="btn btn-outline-primary" href="{% url 'main:logout' %}">
          Log Out
          &nbsp;
          <i class="bi bi-box-arrow-right"></i>
        </a>
        
      {% else %}
        <a class="btn btn-outline-success" href="{% url 'main:login' %}">
          Log In
          &nbsp;
          <i class="bi bi-box-arrow-in-right"></i>
        </a>
      {% endif %}
    
    </div>
  </div>
</nav>
